<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devive-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title> {% block title %} {% endblock %} </title>
</head>

<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Vuln Web Site</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/xss">XSS</a>
          <a class="p-2 text-dark" href="/idor">IDOR</a>
          <a class="p-2 text-dark" href="/sqli">SQLI</a>
          <a class="p-2 text-dark" href="/os">OS command injection</a>
          <a class="p-2 text-dark" href="/pathtraversal">Path Traversal</a>
          <a class="p-2 text-dark" href="/bruteforce">Brute Force</a>
        </nav>
        <a class="btn btn-outline-primary" href="/">Home</a>
      </div>

    {% block body %} {% endblock %}

</body>


</html>